<!-- <div class="projects-list animated rollIn" >
  <div class="button-group">
    <div class= "button-container">
      <div class="buttons">

        <div class="clip-wrap-1">
          <div class="clip-each-home border-style-gradient"><a class="button-links" href="#/about">About Me</a></div>
        </div>

        <div class="clip-wrap-2">
          <div class="clip-each-home border-style-gradient"><a class="button-links" href="#/projects">Projects</a></div>
        </div>

        <div class="clip-wrap-5">
          <div class="clip-each-home border-style-gradient"></div>
        </div>

        <div class="clip-wrap-3">
          <div class="clip-each-home border-style-gradient"><a class="button-links" href="#/links">Links</a></div>
        </div>

        <div class="clip-wrap-4">
          <div class="clip-each-home border-style-gradient"><a class="button-links" href="#/contacts">Contact</a></div>
        </div>

      </div>
    </div>
  </div>
</div>

 -->