<!-- <div class="button-group" ng-controller="mainController as main">
  <div class= "button-container" ng-init="main.init()">
    <div class="buttons">

      <div class="clip-wrap-1">
        <div class="clip-each-home border-style-gradient"><a class="button-links" ng-click="main.addRollAnimation">About Me</a></div>
      </div>

      <div class="clip-wrap-2">
        <div class="clip-each-home border-style-gradient"><a class="button-links projects" href="#/projects" ng-click="main.addRollAnimation">Projects</a></div>
      </div>

      <div class="clip-wrap-5">
        <div class="clip-each-home border-style-gradient"></div>
      </div>

      <div class="clip-wrap-3">
        <div class="clip-each-home border-style-gradient"><a class="button-links links-big" href="#/links" ng-click="main.addRollAnimation">Links</a></div>
      </div>

      <div class="clip-wrap-4">
        <div class="clip-each-home border-style-gradient"><a class="button-links contacts" href="#/contacts" ng-click="main.addRollAnimation">Contact</a></div>
      </div>

    </div>
  </div>
</div>


 -->