<!doctype html>
<html ng-app="sampleSite" lang="en">
    <head>
        <meta charset="UTF-8">
        <base href="/">

        <title>Starter MEAN Single Page Application</title>
        <!-- CSS -->
        <link rel="stylesheet" href="css/app.css"> <!-- custom styles -->
        <link rel="stylesheet" href="css/animate.min.css">
        <!-- JS -->
        <script src="libs/angular/angular.js"></script>
        <script src="libs/angular-route/angular-route.min.js"></script>
        <script src="libs/angular-animate/angular-animate.js"></script>
        <script src="js/angular-ui-router.js"></script>
        <!-- ANGULAR CUSTOM -->
        <script src="js/controllers/MainCtrl.js"></script>
        <script src="js/controllers/ProjectsCtrl.js"></script>
        <script src="js/controllers/LinksCtrl.js"></script>
        <script src="js/controllers/CntactCtrl.js"></script>
        <script src="js/controllers/AbtCtrl.js"></script>
        <script src="js/appRoutes.js"></script>
        <script src="js/app.js"></script>
    </head>
<div ng-controller="mainController as main">
    <div class="outer-octagon clip-each-big border-style-gradient-big animated">
        <div class="clip-wrap-polygon clip-each-big border-style-gradient-big inner-polygon animated">
            <div class="layers-container" ng-show="main.home == true;">
                <div class="left-layer">
                   <div class="clip-wrap-1">
                        <div class="clip-each-home border-style-gradient center-gradient" ng-click="main.addRollAnimation(); main.setProjects()">
                            <p class="button-links projects-link">Projects</p>
                        </div>
                    </div>
                </div>

                <div class="middle-layer">
                    <div class="clip-wrap-2">
                        <div class="clip-each-home border-style-gradient center-gradient" ng-click="main.addRollAnimation(); main.setAbout();">
                            <p class="button-links about-link">About</p>
                        </div>
                    </div>

                    <div class="clip-wrap-5">
                        <div class="clip-each-home border-style-gradient center-middle-gradient"></div>
                    </div>

                    <div class="clip-wrap-4">
                        <div class="clip-each-home border-style-gradient center-gradient" ng-click="main.addRollAnimation(); main.setContacts();">
                            <p class="button-links contacts contacts-link" href="#/contacts">Contact</p>
                        </div>
                    </div>
                </div>

                <div class="right-layer">
                    <div class="clip-wrap-3">
                        <div class="clip-each-home border-style-gradient center-gradient" ng-click="main.addRollAnimation(); main.setLinks();">
                            <p class="button-links links-big links-link" href="#/links">Links</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-container">
                <div class="projects-container" ng-show="main.projects == true">
                    <div class="border-style-gradient-project top-container octagon-top animated">
                        <a class="project-one">2TR</a>
                    </div>

                    <div class="middle-container octagon-middle border-style-gradient-project-middle animated">
                        <a class="project-two">FlowChart</a>
                    </div>

                    <div class="border-style-gradient-project-bottom bottom-container octagon-bottom animated">
                        <a class="project-three">TBA</a>
                    </div>
                </div>
                <div class="about-container" ng-show="main.about == true">
                    <div class="inner-clip-wrap-polygon clip-wrap-polygon clip-each-big border-style-gradient-big animated">
                        <a class="about-description">About</a>
                    </div>
                </div>
                <div class="links-container" ng-show="main.lnk == true">
                    <div class="clip-each-home  first border-style-gradient animated"></div>
                    <div class="clip-each-home side second border-style-gradient animated"></div>
                    <div class="clip-each-home side third border-style-gradient animated"></div>
                    <div class="clip-each-home side fourth border-style-gradient animated"></div>

                </div>
                 <div class="contacts-container" ng-show="main.contact == true">
                    <div class="inner-clip-wrap-polygon clip-wrap-polygon clip-each-big border-style-gradient-big first-contact animated">
                        Contact
                    </div>
                    <div class="inner-clip-wrap-polygon clip-wrap-polygon right-top-octagon clip-each-big border-style-gradient-big second-contact animated">
                        Contact
                    </div>

                    <div class="border-style-gradient-project-bottom bottom-container octagon-bottom third-contact animated">
                        Contact
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar">
            <div class="clip-each-home side1 border-style-gradient animated">
            </div>
            <div class="clip-each-home side2 border-style-gradient animated" ng-click="main.showContent1();">
                <p class="button-links links-big" ng-show="main.showSideLinks == true">{{main.sideLink1}}</p>
            </div>
            <div class="clip-each-home side3 border-style-gradient animated" ng-click="main.showContent2();">
                <p class="button-links links-big" ng-show="main.showSideLinks == true">{{main.sideLink2}}</p>
            </div>
            <div class="clip-each-home side4 border-style-gradient animated" ng-click="main.showContent3();">
                <p class="button-links links-big" ng-show="main.showSideLinks == true">{{main.sideLink3}}</p>
            </div>
            <div class="clip-each-home side5 border-style-gradient animated">
            </div>
        </div>
    </div>

    <div class="outer-octagon-right clip-each-big border-style-gradient-big">
        <div class="clip-wrap-polygon inner-side-polygon clip-each-big border-style-gradient-big">
            <div class="clip-each-home side-home side border-style-gradient animated" ng-click="main.showHome();">
                <p class="button-links links-big" ng-show="main.showSideLinks == true">Home</p>
            </div>
        </div>
    </div>
</div>
</html>
